[submodule "Otuva_Ver/Otuva_Ver/handwriting-synthesis"]
	path = Otuva_Ver/Otuva_Ver/handwriting-synthesis
	url = https://github.com/otuva/handwriting-synthesis.git
[submodule "Ghostmander_Var/Ghostmander_Ver/handwriting-synthesis"]
	path = Ghostmander_Var/Ghostmander_Ver/handwriting-synthesis
	url = https://github.com/ghostmander/handwriting-synthesis.git
